* { 
  .box-sizing(border-box); 
}

body { 
  background: @darkCyan; 
}

#page-body { 
  position: absolute;
  left: 0;
  right: 0;
  top: 0px;
  bottom: 40px;
  padding-top: 5.5rem;
  margin-top: 40px;

  .container {
    padding-bottom:60px;
  }
}


#manage-channels { 
	padding-top: 5rem; 
	header.span9 { margin-bottom: 3rem; }
}

.avatar { margin-bottom: 1.2rem; }

.avatar + input { 
	clear: left;
	display: block;
}